                                <div class="settings-menu-item settings-menu-row">
                                    <span class="settings-menu-label" data-i18n>Minimap:</span>
                                    <label class="settings-menu-control settings-menu-checkbox" style="cursor: pointer;">
                                        <input type="checkbox" id="enable_minimap_toggle">
                                    </label>
                                </div>
                                <div id="token_render_style_item" class="settings-menu-item settings-menu-row" data-admin-only style="display: none;">
                                    <span class="settings-menu-label">Token render style:</span>
                                    <div id="token_render_style_dropdown" class="settings-menu-control settings-dropdown-in-menu"></div>
                                </div>
                                <div id="disable_info_density_item" class="settings-menu-item settings-menu-row" data-admin-only style="display: none;">
                                    <span class="settings-menu-label">Disable info density:</span>
                                    <label class="settings-menu-control settings-menu-checkbox" style="cursor: pointer;">
                                        <input type="checkbox" id="disable_info_density_toggle">
                                    </label>
                                </div>
                                <div class="settings-menu-divider"></div>
